.content {
  padding: 48px;
  flex: 1;
}

.charactersContentFavorites {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.favorites_title {
  text-align: left;
}

@media (max-width: 835px) {
  .charactersContent {
    gap: 10px;
  }
}

@media (max-width: 650px) {
  .content {
    padding: 16px;
  }
}
