.content {
  padding: 48px;
  position: relative;
  flex: 1;
}

.charactersContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

@media (max-width: 835px) {
  .charactersContent {
    gap: 10px;
  }
}

@media (max-width: 650px) {
  .content {
    padding: 16px;
  }
}
